/*:::: Custom Css will be here ::::*/

/* course-details page css */
/* .n-t-alt{
    color: #4255A4 !important;
}
.button{
    border: 1px #AE59FF solid !important;
}
.btn-c-alt{
	background: #AE59FF !important;
}
.btn-c-alt:hover{
	border: 1px #FF9F67 solid !important;
}
.btn-c-alt::before{
	background: #FF9F67 !important;
	z-index: 1;
}
.btn-g-alt{
	background: none;
	overflow: hidden;
}
.btn-g-alt:hover{
	border: 1px #AE59FF solid !important;
}
.btn-g-alt::before{
	background: #AE59FF !important;
	top: 0;
}
.btn-g-alt:hover::before{
	width: 100%;
} */
/* course-details page css */